.card-body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-title {
    font-size: 5vw;
    color: #af3bcf;
}

.card-text {
    max-width: 600px;
    font-size: 1.5vw;
}

.myForm {
    display: flex;
    flex-direction: column;
}

.blog_title {
    margin-bottom: 20px;
}

.blog_body {
    margin-bottom: 20px;
}

.no_post {
    text-align: center;
    padding-top: 20px;
    color: white;
    background-color: #0d6efd;
    padding-bottom: 20px;
    font-size: 5vw;
}

.titles_for_blogs {
    color: white;
    padding-bottom: 20px;
    font-size: 3vw;
}

.blogs_section{
    color: #0d6efd;
}

.post_block {
    border-radius: 40px;
}

.blog_holder {
    background-color: #0d6efd;
    margin-top: 25px;
    padding-bottom: 40px;
    padding-left: 30px;
}
.blog_middle {
    text-align: center;
    color: white;
    padding-top: 20px;
    font-size: 5vw;
}
.blog_middle_holder {
    background-color: #0d6efd;
    height: auto;
}
.edit_button {
    margin-right: 10px;
    margin-top: 20px;
}
.blog_submit_button {
    margin-top: 20px;
}
.white {
    color: white;
}
.white-ish {
    color: whitesmoke;
    opacity: 50%;
    margin-bottom: 20px;
}
.delete-button {
    margin-top: 20px;
}